<section class='m_widget about'>
<% if(config.avatar) { %>
<img class='avatar waves-image' src='<%= url_for(config.avatar) %>' />
<%} %>
<div class='header'><%=config.author %></div>
<div class='content'>
<div class='desc'>Working with Sitecore since 2007 as a Developer and a hands-on Architect on large scale solutions & content platforms</div>
</div>
</section>